.scroll{
    background-color: #2195EC !important;
    color: #ffff !important;
    padding: '35% !important'
}

.scroll:hover{
background-color: var(--red-light) !important;
color: #ffff !important;
}
