.blue-button{
    border-radius: 10px;
    background-color: var(--blue-light);
    color: var(--whiteshade);
    padding: 2% 6% 2% 6%;
    max-height: 200px;
    max-width: 280px;
    border: none;
    white-space: nowrap; 
    margin: 3%;
}
.blue-button:hover{
    color: var(--whiteshade);
    background-color: var(--red-light);
    transform: scale(1.03,1.1)
}
.red-button{
    border-radius: 10px;
    background-color: var(--red-light);
    color: var(--whiteshade);
    padding: 2% 6% 2% 6%;
    max-height: 200px;
    max-width: 280px;
    border: none;
    white-space: nowrap; 
    margin: 3%;
}
.red-button:hover{
    color: var(--whiteshade);
    background-color: var(--red-light);
    transform: scale(1.03,1.1)
}
.no-border-button{
    border-radius: 10px;
    background-color: var(--whiteshade);
    color: var(--blue-light);
    border: 1px solid var(--blue-light);
    padding: 2% 6% 2% 6%;
    max-height: 200px;
    max-width: 280px;
    white-space: nowrap; 
    margin: 3%;
}
.no-border-button:hover{
    color: var(--whiteshade);
    background-color: var(--red-light);
    border: none;
    transform: scale(1.03,1.1)
}

@media screen and (max-width: 30rem){

    .blue-button{
     
        padding: 5% 10% 5% 10%;
    
    }
 
    .red-button{
        padding: 5% 10% 5% 10%;
    }
  
    .no-border-button{
        padding: 5% 10% 5% 10%;
    }
}