
.countdown-timer {
    position: absolute;
    width: 55%;
    height: 100px;
 opacity: 1 ;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-light);
    border-radius: 1.5rem;
    border: 0px;
    
}
.countdown-timer:hover{
    background-color: var(--red-light);
    transform: scale(1.05);
}
.countdown-timer:focus{
    background-color: var(--red-light);
}
.countdown-timer span {
  
    color: var(--ash-background);
}

.two-numbers {
    width: 25%;
    margin-left: 5%;
    white-space: nowrap
}

@media screen and (max-width: 30rem){
    .countdown-timer {
        width: 90%;
        font-size: 1rem;
    }
    .two-numbers {
        width: 40%;
        margin-left: 2%;
        white-space: nowrap;
        margin-right: 2%;
    }
    
}