.dashboardcontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.dashboardsidebar{
    width: 25%;
    background-color: var(--blue-dark);
    height: 100vh;
    top: 0;
    position: sticky;
}
.dashboardcontent{
    width: 70%;
}
.profilepic-div{
  display: flex;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 15%;
}
.profilepic-div > img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--whiteshade);
}
.container-dashboardsidebarcontent{
    display: flex;
    /* justify-content: center; */
    width: 100%;
  flex-direction: column;
  justify-content: space-between;
  
}
.dashboardsidebarcontent{
    display: flex;
    align-items: center;
    padding-left: 15%;
   
}
.dashboardsidebarcontent:hover{
    background-color: var(--blue-light);
}
.dashboardsidebarcontent > img{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    color: var(--whiteshade);
}
.dashboardsidebarcontent > h3{
    color: var(--whiteshade);
}
.dashboardrightbar{
    background-color: var(--ash-background);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dashboardrightbar-section1{
    width: 100%;
    background-color: var(--whiteshade);
    max-height: 4rem;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
}
.dashboardrightbar-section1 > img{
    
}
.dashboardrightbar-section2{
    padding-left: 10%;
    padding-right: 10%;
}
.pendingexaminations-box{
    min-height: 5rem;
    background-color: var(--whiteshade);
}
.notifications-box{
    min-height: 5rem;
    background-color: var(--whiteshade);
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h3{
    font-size: 1.2rem;
    color: var(--ash-dark);
  }
  h4{
    font-size: 1rem;
    color: var(--ash-dark);
  }

  .examinationstab{
    display: flex;
    justify-content: center;
align-items: center;
    flex-direction: column;
    min-height: 10rem;
    background-color: var(--whiteshade);
  }
  .examinationstab > button{
margin-top: 0;
  }
  .pendingexaminations-box > div {
 display: flex;
 justify-content: center;
 align-content: center;
    
      }
  .pendingexaminations-box h4{
text-align: center;

  }

  .dashboardcontainer input {
    width: 100%;
    padding: 0.8rem 0.6rem;
    margin: 0.7rem 0;
    border: 1px solid var(--ash-light);
    box-sizing: border-box;
    display: block;
    border-radius: 0.5rem;
  }
 
  .editprofile-box{
    min-height: 5rem;
    background-color: var(--whiteshade);
    padding: 10%;
}
.Button-div-update-profile{
    display: flex;
    justify-content: center;
}
.dashboardsidebarcontent-lastdiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35%;
}

.dashboardsidebarcontent-lastdiv > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboardsidebarcontent-lastdiv > div:hover{
    
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;


} 
@keyframes shake{
0%{
transform: translateX(0)
}
25%{
transform: translateX(2px);
}

50%{
transform: translateX(-4px);
}
100%{
transform: translateX(0px);
}
}
.dashboardsidebarcontent-lastdiv > div > img{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    color: var(--whiteshade);
}
.dashboardsidebarcontent-lastdiv > div > h5{
    font-size: 0.7rem;
    color: var(--whiteshade);
}
.dashboardrightbar-section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.dashboardrightbar-section1 > div > img{
  height: 100%;
    width: 50%;
}
.dashboardrightbar-section1 > div {
    width: 20%;
    margin-right: 5%;
  }
  .notifications-box-rightbar{
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
    width: 15%;
    height: auto;
  }
  .notifications-box-leftbar{
     width: 2%;
     height: auto;
     background-color: var(--blue-light);
   }
  .notifications-box-rightbar img{
    height: 30px;
    width: 30px;
  }
  .notifications-box-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  