

.registeration-div {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 5%;
}
.registeration-div label {
  text-align: left;
  display: block;
}
.registeration-div img {
    max-width: 200px;
    max-height: 200px;
  
  }
.registeration-div h2 {
  font-size: 20px;
  
  margin-bottom: 30px;
}
.registeration-div input, .registeration-div textarea, .registeration-div select {
  width: 100%;
  padding: 0.8rem 0.6rem;
  margin: 0.7rem 0;
  border: 1px solid var(--ash-light);
  box-sizing: border-box;
  display: block;
  border-radius: 0.5rem;
}

.checkbox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}
.checkbox label{
    white-space: nowrap;
}
.checkbox input{
    display: flex;
    justify-content: right;
}
.errors{
  color: var(--red-light);
}


/* @media screen and (max-width: 30rem){
  .registeration-div {
    
  }
} */
