.footer-main{
    display: flex;
  
    justify-content: space-around;
    width: 100%;
}
.footer-main h2{
    margin-top: 0px;
}
.footer-main-logo-links{
    width: 30%;
    
    
}
.footer-main-informationlinks{
    width: 20%;
}

.footer-main-contactus{
    width: 20%;
}
.footer-main-logo img{
    max-width: 12rem;
    max-height: 11rem;
}
.footer-main-socialmedia > img:hover{
    
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;
      
        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
      
      
} 
@keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(2px);
    }
      
    50%{
      transform: translateX(-4px);
    }
    100%{
      transform: translateX(0px);
    }
  }
    
.footer-main-socialmedia{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.footer-main-socialmedia > img {
    max-width: 1.6rem;
    max-height: 1.6rem;
}
.rightreserved{
border-top: 0.05rem solid var(--ash-light);
margin-top: 2%;
}
.rightreserved p {
text-align: center;
color: var(--ash-dark);
}


@media screen and (max-width: 30rem){
 
    .footer-main{
        display: flex;
      flex-direction: column-reverse;
    justify-content: center;
align-content: center;
        width: 100%;

}
.footer-main-informationlinks{
    width: 100%;
   
}
.footer-main-informationlinks p{
  text-align: center;
   
}
.footer-main-informationlinks h2{
    text-align: center;
     
  }
.footer-main-logo-links{
    width: 100%;
    display: flex;
   flex-direction: column-reverse;
    justify-content: center;
    
}
.footer-main-contactus{
    width: 100%;
}
.footer-main-contactus h2{
    text-align: center;
}
.footer-main-contactus p{
    text-align: center;
    
}
.footer-main-logo{
    display: flex;
    justify-content: center;
}
.footer-main-logo img{
    max-width: 10rem;
    max-height: 9rem;
}
.footer-main-socialmedia{
   display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.footer-main-socialmedia > img {
    max-width: 1.2rem;
    max-height: 1.2rem;
}
.rightreserved{
border-top: 0.05rem solid var(--ash-dark);
margin-top: 2%;
}
.rightreserved p {
text-align: center;
color: var(--ash-dark);
}

}