/* .single-slider{
display: flex;
justify-content: space-between;
}
.mainimagetest{
    padding: 5%;
}
.mainimagetest > img{
    height: 200px;
    width: 200px;
}
.single-slider-left-div{
    width: 30%;
}

.single-slider-right-div{
    width: 50%;
} */
#hthree{
text-align: right;
}
.slider-div{
        width: 100%;
        height: 500px;
      
}

.dots {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
}
.stylesRatings img{
height: 1.5rem;
width: 1.5rem;
}
.stylesRatings {
    background-color: var(--whiteshade);
    border-radius: 1.5rem;
    width: 35%;
    max-height: 1rem;
    padding: 4% 5% 4% 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    }
    @media screen and (max-width: 30rem){

        .slider-div{
            width: 100%;
            height: 100vh;
        margin-bottom: 10%;
          
    }
    .stylesRatings img{
        height: 1rem;
        width: 1rem;
        }
        .stylesRatings {
            background-color: var(--whiteshade);
            border-radius: 1.5rem;
            width: 55%;
            max-height: 2rem;
            padding: 4% 5% 4% 5%;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            align-items: center;
            justify-content: center;
            display: flex;
            
            }
            .slideStyleswidthbackgroundd-resp{
                display: flex;
                flex-direction: column !important;
                padding: 5% 0 5% 0;
               margin: 0 !important;
                
            }
            .slideStyleswidthbackground-resp{
            width: 50% !important;
            min-height: 150px;
            }
            .slidesStylesText-resp{
                margin: 0 !important;
                width: 50% !important;
            }
    }

  